interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "1/2/3"},
      {"ref": "72724/23/1"}], "ignoreErrors": 1, "infostruct": 1, "skip_external_system_updates":
      1}], "version": "1.1", "id": "30148853720986624"}'
    headers:
    method: POST
    uri: https://appdev.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[null,{"data":{"amplicon_type":"16S","data":{"col_ids":["16O.16C.5","16O.16C.6","16O.16C.8","16O.16C.9","16O.16W.6","16O.16W.7","16O.16W.8","16O.16W.9","18O.18C.7","18O.18C.8","18O.18C.9","18O.18W.6","18O.18W.7","18O.18W.8","18O.18W.9","120.12C.5","120.12W.5"],"row_ids":["002200083937d05914858b51aba09591","005997c557d58b6d481c505620a49dd4","0098f177d98b46bfd219cb1b96411b3a","00de18386af8215012d546ccb03a69c3","0119003321bca56cfda9840e5bf6cd32","0157f81bf552e6ba40941f632ba34797","01664c43512ac034e62fde14e27271f5","017ad37b9a3fd3480121b1da4abc1312","02026822bbf289288479cd7bd308df0e","0235ae3e2a8867ad8699d1dc535c349d"],"values":[[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0],[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,0.0,0.0,0.0,0.0,0.0,0.0],[29.0,103.0,75.0,155.0,105.0,38.0,20.0,65.0,219.0,135.0,125.0,39.0,37.0,24.0,43.0,743.0,692.0],[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0],[0.0,0.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],[0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,402.0,189.0,161.0,143.0,190.0,0.0,0.0,0.0,0.0],[0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,6.0,43.0,5.0,3.0],[0.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0],[0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0]]},"denoise_method":"dada2","scale":"raw","sequence_error_cutoff":2.0,"sequencing_file_handle":"KBH_230001","sequencing_instrument":"Illumina
        MiSeq","sequencing_technology":"Illumina","target_gene":"16S","target_subfragment":["V5","V4"],"taxon_calling_method":["denoising"]},"infostruct":{"objid":23,"name":"amplicons","type":"KBaseMatrices.AmpliconMatrix-10.0","save_date":"2024-02-23T00:24:17+0000","version":1,"saved_by":"ialarmedalien","wsid":72724,"workspace":"ialarmedalien:narrative_1705694499840","chsum":"a323ef6d3814e4045cbb16ecc2121e9e","size":1631,"meta":{"amplicon_count":"10","condition_count":"17","taxon_calling_method_count":"1","target_subfragment_count":"2","scale":"raw","amplicon_type":"16S","sequence_error_cutoff":"2.0","target_gene":"16S","denoise_method":"dada2","sequencing_technology":"Illumina","sequencing_instrument":"Illumina
        MiSeq"},"adminmeta":{},"path":["72724/23/1"]},"provenance":[{"time":"2024-02-23T00:23:28+0000","epoch":1708647808000,"service":"GenericsAPI","service_ver":"2d68b13be4bf7278817cbfef949777a03ea1bda7","method":"import_matrix_from_biom","method_params":[{"target_subfragment":["V4","V5"],"library_layout":null,"barcode_error_rate":null,"sequencing_date":null,"read_length_cutoff":null,"scale":"raw","description":null,"sequencing_instrument":"Illumina
        MiSeq","workspace_id":72724,"chimera_detection_and_removal":null,"matrix_name":"amplicons","obj_type":"AmpliconMatrix","pcr_primers":null,"row_attributemapping_ref":null,"amplicon_type":"16S","taxon_calling":{"clustering_cutoff":null,"taxon_calling_method":["denoising"],"sequence_error_cutoff":2,"denoise_method":"dada2","clustering_method":""},"metadata_keys":null,"extraction":null,"sequencing_technology":"Illumina","read_pairing":null,"amplification":null,"sequencing_quality_filter_cutoff":null,"taxonomic_abundance_tsv":"amplicon_matrix_extras.csv","sample_set_ref":null,"target_gene":"16S","sequencing_center":null,"taxonomic_fasta":"RepresentativeSeqs.fasta","library_kit":null,"col_attributemapping_ref":null,"library_screening_strategy":null,"reads_set_ref":[]}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"GenericsAPI","ver":"2d68b13be4bf7278817cbfef949777a03ea1bda7","code_url":"https://github.com/kbaseapps/GenericsAPI","commit":"2d68b13be4bf7278817cbfef949777a03ea1bda7"},{"name":"DataFileUtil","ver":"release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"ee7670582db65adee442f052a52444a0d84a52a0"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"ialarmedalien","orig_wsid":72724,"created":"2024-02-23T00:24:16+0000","epoch":1708647856901,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"handle":["KBH_230001"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
