interactions:
- request:
    body: '{"method": "Workspace.get_objects2", "params": [{"objects": [{"ref": "72724/21/1"}],
      "ignoreErrors": 1, "infostruct": 1, "skip_external_system_updates": 1}], "version":
      "1.1", "id": "3894204252670269"}'
    headers:
    method: POST
    uri: https://appdev.kbase.us/services/ws
  response:
    body:
      string: '{"version":"1.1","result":[{"data":[{"data":{"description":"Sources","samples":[{"id":"cb32253a-c5e8-42b8-9397-4365ba4f2c0c","name":"14O.14W","version":1},{"id":"b3a74e2a-9ec5-40fc-9e70-42b7670fa3f5","name":"16O.16C","version":1},{"id":"24097e38-940e-4bf1-af56-a16598739f17","name":"16O.16W","version":1},{"id":"824dbac1-3ba3-48d6-918d-a29a652674a2","name":"18O.18C","version":1},{"id":"8f9b3675-d766-43d4-aa8a-825101acd58b","name":"20O.20W","version":1}]},"infostruct":{"objid":21,"name":"Sources","type":"KBaseSets.SampleSet-2.0","save_date":"2024-02-22T23:50:05+0000","version":1,"saved_by":"ialarmedalien","wsid":72724,"workspace":"ialarmedalien:narrative_1705694499840","chsum":"71a3762239eb299c6066309053721be1","size":412,"meta":{"num_samples":"5"},"adminmeta":{},"path":["72724/21/1"]},"provenance":[{"time":"2024-02-22T23:49:51+0000","epoch":1708645791000,"service":"sample_uploader","service_ver":"20e60df2dfa54b90ba25dad4110cea5d0123754e","method":"import_samples","method_params":[{"share_within_workspace":1,"incl_input_in_output":1,"header_row_index":null,"description":"Sources","otu_prefix":"OTU","propagate_links":0,"sample_file":"72724_5_1_extras.csv","workspace_id":72724,"ignore_warnings":1,"prevalidate":1,"set_name":"Sources","output_format":null,"num_otus":20,"sample_set_ref":null,"incl_seq":0,"name_field":null,"workspace_name":"ialarmedalien:narrative_1705694499840","file_format":"kbase","keep_existing_samples":1,"taxonomy_source":"n/a"}],"input_ws_objects":[],"resolved_ws_objects":[],"intermediate_incoming":[],"intermediate_outgoing":[],"external_data":[],"subactions":[{"name":"sample_uploader","ver":"20e60df2dfa54b90ba25dad4110cea5d0123754e","code_url":"https://github.com/kbaseapps/sample_uploader/","commit":"20e60df2dfa54b90ba25dad4110cea5d0123754e"},{"name":"DataFileUtil","ver":"release","code_url":"https://github.com/kbaseapps/DataFileUtil","commit":"ee7670582db65adee442f052a52444a0d84a52a0"}],"custom":{},"description":"KBase
        SDK method run via the KBase Execution Engine"}],"creator":"ialarmedalien","orig_wsid":72724,"created":"2024-02-22T23:50:05+0000","epoch":1708645805402,"refs":[],"copy_source_inaccessible":0,"extracted_ids":{"sample":["8f9b3675-d766-43d4-aa8a-825101acd58b","824dbac1-3ba3-48d6-918d-a29a652674a2","b3a74e2a-9ec5-40fc-9e70-42b7670fa3f5","24097e38-940e-4bf1-af56-a16598739f17","cb32253a-c5e8-42b8-9397-4365ba4f2c0c"]}}]}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"method": "SampleService.get_samples", "params": [{"samples": [{"id":
      "cb32253a-c5e8-42b8-9397-4365ba4f2c0c", "version": 1}, {"id": "b3a74e2a-9ec5-40fc-9e70-42b7670fa3f5",
      "version": 1}, {"id": "24097e38-940e-4bf1-af56-a16598739f17", "version": 1},
      {"id": "824dbac1-3ba3-48d6-918d-a29a652674a2", "version": 1}, {"id": "8f9b3675-d766-43d4-aa8a-825101acd58b",
      "version": 1}]}], "version": "1.1"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://appdev.kbase.us/services/sampleservice
  response:
    body:
      string: '{"version": "1.1", "result": [[{"id": "cb32253a-c5e8-42b8-9397-4365ba4f2c0c",
        "user": "ialarmedalien", "name": "14O.14W", "node_tree": [{"id": "14O.14W",
        "type": "BioReplicate", "parent": null, "meta_controlled": {"enigma:replicate":
        {"value": "14.0"}, "sample_template": {"value": "KBASE"}}, "meta_user": {"isotopolog_atom_pos":
        {"value": "1S/H2O/h1H2/i1+2"}, "isotopolog": {"value": 962}, "samp_vol_we_dna_ext":
        {"value": "10 gram"}, "bac16srrna_cn_dry_g_whole": {"value": 19600000000.0},
        "isotopolog_approach": {"value": "single"}, "user_sample_code": {"value":
        "APS4.14W.TP2.14O"}, "temp_trt": {"value": "warmed"}, "oxygen_isotope": {"value":
        "14O"}, "site": {"value": 4}, "id": {"value": "14O.14W-unique-id"}, "plot":
        {"value": "14W"}, "user": {"value": "ialarmedalien"}, "bac16srrna_cn_wet_g_whole":
        {"value": 4640000000}, "incubation_time_days": {"value": 28}, "version": {"value":
        1}, "isotope": {"value": "14O"}, "isotopolog_label": {"value": "isotopically
        labeled"}, "save_date": {"value": 1705694813998}, "type": {"value": "BioReplicate"}},
        "source_meta": [{"key": "enigma:replicate", "skey": "enigma:replicate", "svalue":
        {"value": 14}}, {"key": "sample_template", "skey": "sample_template", "svalue":
        {"value": "KBASE"}}]}], "save_date": 1708645798284, "version": 1}, {"id":
        "b3a74e2a-9ec5-40fc-9e70-42b7670fa3f5", "user": "ialarmedalien", "name": "16O.16C",
        "node_tree": [{"id": "16O.16C", "type": "BioReplicate", "parent": null, "meta_controlled":
        {"enigma:replicate": {"value": "16.0"}, "sample_template": {"value": "KBASE"}},
        "meta_user": {"isotopolog_atom_pos": {"val[...]
